/* Universal Styles */

body {
  font-family: "Helvetica";
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  color: seashell;
  text-align: center;
  margin: 0;
}

flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Header */

header.flex-container {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  align-items: center;
}

header img {
  padding-left: 10px;
  height: 50px;
  align-items: center;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav a {
  color: seashell;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;
}

/* Main Content */

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

.content {
  width: 1200px;
  padding-top: 69px;
  margin: auto;
}

/* Mission */

#mission {
  display: flex;
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  padding-top: 70px;
}

.mission-text{
  background-color: black;
  width: 1200px;
  margin: auto;
}


/* Featured */

#featured {
  margin: auto;
  width: 1000px;
  padding-top: 70px;
  text-align: center;
}

.flex-container .teas {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teas {
  padding: 5px;
}

.teas span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

.teas img {
  display: block;
  height: 200px;
  width: 300px;
  margin: 10px;
}

/* Locations */

#locations {
  background-image: url(../images/img-locations-background.jpg);
  padding-top: 70px;
  width: 1200px;
  text-align: center;
}

#locations .flex-container {
  margin: auto;
  justify-content: center;
}

.flex-container .addresses {
  padding-top: 5px;
  display: inline-flex;
}

.address {
  display: flex;
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  flex-basis: 280px;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 300px;
  margin: 15px 20px;
}

/* Footer */

#contact {
  height: 200px;
}

footer {
  padding-left: 20px;
  text-align: left;
}
